body {
    margin: 0;
    font-family: 'Rubik';
    min-height: 100vh;
    position: relative;
}

.infos {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 3vh;
    margin: 0 15vh;
    position: relative;
    bottom: 10vh;
    z-index: 5;
}



header {
    background-image: url(./images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
    height: 25vh;
}


h1 {
    color: white;
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3 {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    color: #939393;
    font-weight: 700;
}

hr {
    max-height: 5vh;
    margin: 30px 0;
  }


input {
    background: #ffffff;
    border: 0;
    border-radius: 15px 0 0 15px;
    font-family: 'Rubik';
    padding: 20px;
    width: 90%;
  }
  
  input:focus {
    outline: none;
  }
  
  input::placeholder {
    color: gray;
    font-family: 'Rubik';
  }
  
  button {
    background: #000000;
    border: 0;
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .pt-site-footer__submit {
    position: relative;
    display: inline-block;
    width: 50%;
  }

  #arrow {
    max-height: 1vh;
  }

//   #map {
//     max-height: none;
//     display: block;
//     height: 500px;
//     z-index: -1;
//     bottom: 20vh;
// }

#map{
    height: 75vh;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    bottom: 0;
    position: absolute;
}
